USE [MakeMyDay]
GO
/****** Object:  StoredProcedure [dbo].[UserDetailInserUpdateGet]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP PROCEDURE [dbo].[UserDetailInserUpdateGet]
GO
/****** Object:  StoredProcedure [dbo].[HotelMasterInsertUpdateGet]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP PROCEDURE [dbo].[HotelMasterInsertUpdateGet]
GO
/****** Object:  StoredProcedure [dbo].[HotelDetailInsertUpdateGet]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP PROCEDURE [dbo].[HotelDetailInsertUpdateGet]
GO
/****** Object:  StoredProcedure [dbo].[GetHotelPlusSubDetail]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP PROCEDURE [dbo].[GetHotelPlusSubDetail]
GO
/****** Object:  StoredProcedure [dbo].[CategoryMasterInsertUpdateGet]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP PROCEDURE [dbo].[CategoryMasterInsertUpdateGet]
GO
ALTER TABLE [dbo].[SubCategory] DROP CONSTRAINT [FK_CategorySub_CategoryMaster]
GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[UserDetail]
GO
/****** Object:  Table [dbo].[SubCategoryDetail]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[SubCategoryDetail]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[SubCategory]
GO
/****** Object:  Table [dbo].[PrefMaster]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[PrefMaster]
GO
/****** Object:  Table [dbo].[MakeMyDay]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[MakeMyDay]
GO
/****** Object:  Table [dbo].[HotelMaster]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[HotelMaster]
GO
/****** Object:  Table [dbo].[HotelDetail]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[HotelDetail]
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TABLE [dbo].[CategoryMaster]
GO
/****** Object:  UserDefinedTableType [dbo].[TableValuedResturant]    Script Date: 12/28/2017 12:09:41 AM ******/
DROP TYPE [dbo].[TableValuedResturant]
GO
/****** Object:  UserDefinedTableType [dbo].[TableValuedResturant]    Script Date: 12/28/2017 12:09:41 AM ******/
CREATE TYPE [dbo].[TableValuedResturant] AS TABLE(
	[ID] [nvarchar](150) NULL,
	[PlaceID] [nvarchar](100) NULL,
	[Name] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[ImagePath] [varchar](50) NULL,
	[Lat] [decimal](9, 6) NULL,
	[Long] [decimal](9, 6) NULL,
	[WorkingHours] [nvarchar](50) NULL,
	[Rating] [decimal](6, 1) NULL,
	[PhotoReference] [nvarchar](max) NULL,
	[WeekdayText] [nvarchar](100) NULL,
	[HtmlAttributions] [nvarchar](1000) NULL,
	[Ordering] [bigint] NULL,
	[SubCategoryDetailID] [bigint] NULL,
	[CategoryID] [bigint] NULL
)
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategaryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
	[CategoryDesc] [nvarchar](500) NULL,
	[CategoryImageName] [nvarchar](100) NULL,
	[CssName] [nvarchar](50) NULL,
	[InactiveDate] [date] NULL,
	[CategoryOverwiew] [bit] NULL,
	[CategoryOrder] [tinyint] NULL,
 CONSTRAINT [PK_CategoryMaster] PRIMARY KEY CLUSTERED 
(
	[CategaryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HotelDetail]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HotelDetail](
	[DetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlaceID] [nvarchar](100) NULL,
	[Address] [varchar](500) NULL,
	[PhoneNo] [varchar](50) NULL,
	[InternationPhoneNo] [varchar](50) NULL,
	[weekday_text] [varchar](500) NULL,
	[types] [varchar](500) NULL,
	[InActiveDate] [date] NULL,
 CONSTRAINT [PK_HotelDetailID] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HotelMaster]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HotelMaster](
	[HotelID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](150) NULL,
	[PlaceID] [nvarchar](100) NULL,
	[Name] [varchar](500) NULL,
	[Address] [varchar](500) NULL,
	[ImagePath] [varchar](50) NULL,
	[Lat] [decimal](9, 6) NULL,
	[Long] [decimal](9, 6) NULL,
	[WorkingHours] [nvarchar](50) NULL,
	[Rating] [decimal](6, 1) NULL,
	[PhotoReference] [nvarchar](max) NULL,
	[WeekdayText] [nvarchar](100) NULL,
	[HtmlAttributions] [nvarchar](1000) NULL,
	[InActiveDate] [date] NULL,
	[Ordering] [bigint] NULL,
	[SubCategoryDetailID] [bigint] NULL,
	[CategoryID] [bigint] NULL,
 CONSTRAINT [PK_HotelMaster] PRIMARY KEY CLUSTERED 
(
	[HotelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MakeMyDay]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MakeMyDay](
	[DayID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[SearchLocation] [float] NULL,
	[LocationName] [varchar](100) NULL,
	[HotelID] [varchar](100) NULL,
	[InActiveDate] [date] NULL,
 CONSTRAINT [PK_MakeMyDay] PRIMARY KEY CLUSTERED 
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PrefMaster]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PrefMaster](
	[PrefType] [varchar](50) NULL,
	[Prefvalue] [nvarchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryID] [bigint] NOT NULL,
	[CategoryID] [bigint] NOT NULL,
	[CategorySubName] [nvarchar](50) NULL,
	[CategorySubDesc] [nvarchar](50) NOT NULL,
	[InActiveDate] [date] NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubCategoryDetail]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryDetail](
	[SubCategoryDetailID] [bigint] IDENTITY(1,1) NOT NULL,
	[SubCategoryID] [bigint] NOT NULL,
	[subCategoryDetailName] [nvarchar](50) NULL,
	[InActiveDate] [date] NULL,
 CONSTRAINT [PK_SubCategoryDetail] PRIMARY KEY CLUSTERED 
(
	[SubCategoryDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserDetail]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetail](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[EmailId] [nvarchar](100) NOT NULL,
	[MobileNo] [nvarchar](50) NULL,
	[InactiveDate] [date] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
	[UserPhoto] [varchar](150) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryMaster] ON 

INSERT [dbo].[CategoryMaster] ([CategaryID], [CategoryName], [CategoryDesc], [CategoryImageName], [CssName], [InactiveDate], [CategoryOverwiew], [CategoryOrder]) VALUES (1, N'Food', N'Dining, street food, Restaurants available near or the place you would be visiting', N'1', N'fa fa-cutlery fa-icon', NULL, NULL, NULL)
INSERT [dbo].[CategoryMaster] ([CategaryID], [CategoryName], [CategoryDesc], [CategoryImageName], [CssName], [InactiveDate], [CategoryOverwiew], [CategoryOrder]) VALUES (2, N'Places to Visit', N'Ahmedabad is India''s first Heritage city. Also find, Historical, Sight seeing, Attraction & Popular places to be visited in Ahmedabad', N'2', N'fa fa-map-marker fa-icon', NULL, NULL, NULL)
INSERT [dbo].[CategoryMaster] ([CategaryID], [CategoryName], [CategoryDesc], [CategoryImageName], [CssName], [InactiveDate], [CategoryOverwiew], [CategoryOrder]) VALUES (3, N'Activities', N'Explore Fun filled activities indoor and outdoor. For e.g. Movies, Amusement parks, Zoo, Sports etc.  ', N'3', N'fa fa-futbol-o fa-icon', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[HotelDetail] ON 

INSERT [dbo].[HotelDetail] ([DetailID], [PlaceID], [Address], [PhoneNo], [InternationPhoneNo], [weekday_text], [types], [InActiveDate]) VALUES (1, N'ChIJ18RQqPiEXjkR6TNkoduQjn8', N'Opposite Gujarat College, Ellis Bridge, Ellisbridge, Ahmedabad, Gujarat 380006, India', N'079 4900 8888', N'+91 79 4900 8888', N'Monday: Open 24 hours, Tuesday: Open 24 hours, Wednesday: Open 24 hours, Thursday: Open 24 hours, Friday: Open 24 hours, Saturday: Open 24 hours, Sunday: Open 24 hours', N'lodging, restaurant, food, point_of_interest, establishment', NULL)
INSERT [dbo].[HotelDetail] ([DetailID], [PlaceID], [Address], [PhoneNo], [InternationPhoneNo], [weekday_text], [types], [InActiveDate]) VALUES (2, N'ChIJt0RFG_eEXjkRbgeisqwMh14', N'434/1, Mithakhali Six Cross Roads, Navrangpura, Maharashtra Society, Ellisbridge, Ahmedabad, Gujarat 380006, India', N'079 4423 2323', N'+91 79 4423 2323', N'Monday: Open 24 hours, Tuesday: Open 24 hours, Wednesday: Open 24 hours, Thursday: Open 24 hours, Friday: Open 24 hours, Saturday: Open 24 hours, Sunday: Open 24 hours', N'lodging, restaurant, food, point_of_interest, establishment', NULL)
GO
SET IDENTITY_INSERT [dbo].[HotelDetail] OFF
SET IDENTITY_INSERT [dbo].[HotelMaster] ON 

GO
SET IDENTITY_INSERT [dbo].[HotelMaster] OFF
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_CategorySub_CategoryMaster] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[CategoryMaster] ([CategaryID])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_CategorySub_CategoryMaster]
GO
/****** Object:  StoredProcedure [dbo].[CategoryMasterInsertUpdateGet]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CategoryMasterInsertUpdateGet]
@CategaryID bigint = NULL,
@CategoryName nvarchar(100) = NULL,
@CategoryDesc nvarchar(500) = NULL,
@CategoryImageName nvarchar(100) = NULL,
@CategoryOverwiew bit = NULL,
@CategoryOrder tinyint = NULL,
@Mode Varchar(10) = NULL 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF @Mode ='INSERT'
	BEGIN
		INSERT INTO CategoryMaster
		(
			CategoryName,
			CategoryDesc,
			CategoryImageName,
			CategoryOverwiew,
			CategoryOrder
		) VALUES
		(
			@CategoryName,
			@CategoryDesc,
			@CategoryImageName,
			@CategoryOverwiew,
			@CategoryOrder
		)


	END
	IF @Mode ='UPDATE'
	BEGIN
			UPDATE CategoryMaster
			SET CategoryName = @CategoryName,
			    CategoryImageName = @CategoryImageName,
				CategoryOverwiew = @CategoryOverwiew
			WHERE CategaryID = @CategaryID
	END
	IF @Mode = 'GET'
	BEGIN
			SELECT *  FROM CategoryMaster WHERE InactiveDate IS  NULL ORDER BY CategoryOrder DESC
	END
    -- Insert statements for procedure here
	
END

GO
/****** Object:  StoredProcedure [dbo].[GetHotelPlusSubDetail]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetHotelPlusSubDetail] 
		@PlaceID nvarchar(100) = 0,
		@CategaryID Bigint =  NULL,
		@Latitude DECIMAL(12,9)=NULL,
		@Longitude DECIMAL(12,9) =NULL,
		@Distance DECIMAL(12,9) = 10
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	if @PlaceID = 0
	Begin
	SET @PlaceID = NULL
	End 
    -- Insert statements for procedure here
	
			SELECT Top 20  HM.PlaceID,
					HM.SubCategoryDetailID,
					HM.Name,
					HD.Address,
					HM.Lat,
					HM.Long,
					HM.Rating,
					HD.Weekday_text,
					('Primary : ' + ISNULL(HD.PhoneNo,'') + '  Alternative : ' + ISNULL(HD.InternationPhoneNo,'')) AS PhoneNo,
					HD.types ,
					Left((3956 * 2 * ASIN(SQRT( POWER(SIN((@Latitude -
				abs(Hm.Lat)) * pi()/180 / 2),2) + COS(@Latitude * pi()/180 ) * COS( 
				abs(Hm.Lat) *  pi()/180) * POWER(SIN((@Longitude - Hm.Long) *  pi()/180 / 2), 2) ))),3) + ' KM Away' AS Distance
	FROM HotelMaster HM
			INNER JOIN HotelDetail HD ON hd.PlaceID = HM.PlaceID
			WHERE HD.PlaceID = ISNULL(@PlaceID,HD.PlaceID)
			AND HM.CategoryID = ISNULL(@CategaryID,HM.CategoryID)
			ORDER BY HM.Rating DESC
END

GO
/****** Object:  StoredProcedure [dbo].[HotelDetailInsertUpdateGet]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[HotelDetailInsertUpdateGet]
			@PlaceID nvarchar(100),
			@Address varchar(500),
			@PhoneNo varchar(50),
			@InternationPhoneNo varchar(50),
			@weekday_text varchar(500),
			@types varchar(500)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF  NOT EXISTS (SELECT 1 FROM HotelDetail WHERE PlaceID = @PlaceID )
	BEGIN
		INSERT INTO HotelDetail( 
		PlaceID,
		Address,
		PhoneNo,
		InternationPhoneNo,
		weekday_text,
		types)
		VALUES
		(
		    @PlaceID,
			@Address,
			@PhoneNo,
			@InternationPhoneNo,
			@weekday_text,
			@types
		)
	END
	ELSE
	BEGIN
	UPDATE HotelDetail 
			SET Address = @Address,
			 PhoneNo = @PhoneNo,
			 InternationPhoneNo = @InternationPhoneNo,
			 weekday_text = @weekday_text,
			 types = @types
		WHERE   PlaceID = @PlaceID
	END

		

END

GO
/****** Object:  StoredProcedure [dbo].[HotelMasterInsertUpdateGet]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[HotelMasterInsertUpdateGet]
	@MasterTable TableValuedResturant READONLY 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO HotelMaster( 
		ID,
		PlaceID,
		Name,
		Address,
		ImagePath,
		Lat,
		Long,
		WorkingHours,
		Rating,
		PhotoReference,
		WeekdayText,
		HtmlAttributions,
		Ordering,
		SubCategoryDetailID,
		CategoryID)
    SELECT 
	    ID,
		PlaceID,
		Name,
		Address,
		ImagePath,
		Lat,
		Long,
		WorkingHours,
		Rating,
		PhotoReference,
		WeekdayText,
		HtmlAttributions,
		Ordering,
		SubCategoryDetailID,
		CategoryID
	 FROM @MasterTable MT
	 WHERE NOT Exists
	 (SELECT 1 FROM HotelMaster Where PlaceID = MT.PlaceID)

	 
		--UPDATE HotelMaster 
		--	set InActiveDate = getdate()
		--WHERE NOT Exists
	 --(SELECT 1 FROM @MasterTable Where PlaceID = PlaceID)

	 --UPDATE HotelMaster 
		--	set InActiveDate = getdate()
		--WHERE NOT Exists
	 --(SELECT 1 FROM @MasterTable Where PlaceID = PlaceID)

END

GO
/****** Object:  StoredProcedure [dbo].[UserDetailInserUpdateGet]    Script Date: 12/28/2017 12:09:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UserDetailInserUpdateGet]
	@UserID		 BIGINT = 0,
	@UserName	 nvarchar(100) ='',
	@Password	 nvarchar(100) ='',
	@EmailID	 nvarchar(100)='',
	@MobileNo	 nvarchar(50)='',
	@UserPhoto	 varchar(150)='',
	@NEWPassword varchar(150) ='',
	@Mode		 Varchar(20)=''


AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT OFF;
	Declare @ServerPath varchar(150) = ''
	Select @ServerPath =  Prefvalue from PrefMaster Where PrefType = 'ServerPath'
    -- Insert statements for procedure here
	IF @Mode = 'USERINSERT'
	BEGIN
		IF NOT EXISTS (Select 1 From UserDetail Where EmailID=@EmailID And InactiveDate Is NULL)
		BEGIN
						INSERT INTO UserDetail
					(
							UserName,
							Password,
							EmailID,
							MobileNo,
							UserPhoto,
							CreatedDate,
							ModifyDate
					)Values
					(
						@UserName,
						@Password,
						@EmailID,
						@MobileNo,
						@UserPhoto,
						getdate(),
						getdate()
					)

					SELECT		UserID,
							UserName,
							Password,
							EmailID,
							MobileNo,
							CreatedDate,
							ModifyDate,
							InactiveDate,
						   Case when ISNULL(UserPhoto,'') = '' then '' Else (@ServerPath + UserPhoto + '.png') END AS UserImage
			   From UserDetail Where EmailID=@EmailID And InactiveDate Is NULL
		END
	END
	ELSE IF @Mode = 'USERUPDATE'
	BEGIN
		IF EXISTS (Select 1 From UserDetail Where  UserID = @UserID AND InactiveDate Is NULL)
		BEGIN
				UPDATE UserDetail
				SET	UserName = Case when @UserName = '' then UserName else @UserName END,
					Password = Case when @Password = '' then [Password] else @Password END,
					EmailID =   Case when @EmailID = '' then EmailID else @EmailID END,
					MobileNo =   Case when @MobileNo = '' then MobileNo else @MobileNo END,
					UserPhoto =   Case when @UserPhoto = '' then UserPhoto else @UserPhoto END,
					ModifyDate = Getdate()
					WHERE UserID= @UserID AND InactiveDate Is NULL

					SELECT  UserID,
							UserName,
							Password,
							EmailID,
							MobileNo,
							CreatedDate,
							ModifyDate,
						   Case when ISNULL(UserPhoto,'') = '' then '' Else (@ServerPath + UserPhoto + '.png') END AS UserImage
						   From UserDetail Where UserID=@UserID AND InactiveDate Is NULL
		END
	END
	ELSE IF @Mode = 'LOGINUSER'
	BEGIN
		IF EXISTS (SELECT 1 From UserDetail Where EmailID = @EmailID And Password = @Password And InactiveDate Is NULL)
		BEGIN
				SELECT		UserID,
							UserName,
							Password,
							EmailID,
							MobileNo,
							CreatedDate,
							ModifyDate,
						   Case when ISNULL(UserPhoto,'') = '' then '' Else (@ServerPath + UserPhoto + '.png') END AS UserImage
			   From UserDetail where EmailID = @EmailID And Password = @Password And InactiveDate Is NULL
		END
	END
	ELSE IF @Mode = 'CHANGEPASSWORD'
	BEGIN
		IF EXISTS (SELECT 1 From UserDetail Where EmailID = @EmailID And Password = @Password And InactiveDate Is NULL)
		BEGIN
				Update UserDetail SET Password = @NEWPassword WhERE EmailID = @EmailID And Password = @Password And InactiveDate Is NULL

				SELECT		UserID,
							UserName,
							Password,
							EmailID,
							MobileNo,
							CreatedDate,
							ModifyDate,
						   Case when ISNULL(UserPhoto,'') = '' then '' Else (@ServerPath + UserPhoto + '.png') END AS UserImage
					   From UserDetail where EmailID = @EmailID And Password = @NEWPassword And InactiveDate Is NULL
		END
	END
	SET NOCOUNT ON;
END




GO
