<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="getconn" connectionString="Data Source=DESKTOP-1HN89IJ\SQLEXPRESS;Initial Catalog=MakeMyDay;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="getconn" connectionString="data source=188.121.44.212;initial catalog=ecoapp;persist security info=true;user id=ecoappdata;password=ECOAPPData1!"/>-->
    <!--<add name="getconn" connectionString="Data Source=Tariq;Initial Catalog=ChatDatabase;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>